body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("../static/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh; 
    margin: 0; 
}
div{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 20px;
}

h1 {
    margin: 0;
    color: white;
    padding-bottom: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}